@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  background: linear-gradient(135deg, #0e0d0d, #1a1818);
  color: #ffffff;
}

nav .nav-links a {
  text-decoration: none;
  color: black;
  font-weight: 500;
  margin-right: 20px;
  color: #ffffff;
}

nav .nav-links a:hover {
  color: #000;
  font-weight: 600;
}
.main-content {
  background-image: linear-gradient(rgba(0, 0, 0, 0.825), rgba(0, 0, 0, 0.678)),
    url(./images/image.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 95vh;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding: 20px;
  gap: 20px;
  font-size: 20px;
  padding-left: 150px;
}

.main-content h1 {
  font-size: 40px;
  max-width: 500px;
}

.main-content p {
  max-width: 400px;
}

.main-content button {
  padding: 20px 40px;
  background-color: #e74c3c;
  border: none;
  color: #fff;
  font-weight: 600;
  font-size: 17px;
  border-radius: 5px;
}

.nav-user {
  display: flex;
  gap: 20px;
}

.nav-user i {
  font-size: 17px;
  cursor: pointer;
}

.nav-user i:first-child {
  color: #e74c3c;
}

.nav-user i:last-child {
  color: red;
}

.receita-destaque {
  margin-top: 100px;
  height: 80vh;
}

.receita-destaque-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
}

.receita-left h1 {
  max-width: 450px;
  color: #4b5563;
  margin-bottom: 20px;
  margin-top: 20px;
  font-size: 35px;
}

.receita-dia-box {
  margin-bottom: 40px;
}

.receita-left p {
  max-width: 400px;
  color: #666;
  line-height: 30px;
  margin-bottom: 40px;
}

.receita-left span {
  color: #1a0906;
  font-weight: 600;
}

.receita-left button {
  padding: 20px 40px;
  background: linear-gradient(135deg, #e74c3c, #c0392b);

  border: none;
  color: white;
  border-radius: 10px;
  margin-top: 40px;
  font-weight: 600;
  font-size: 17px;
}

.receita-destaque-info span {
  margin-right: 20px;
}

.receita-right .receita-destaque-img {
  width: 500px;
  border-radius: 40px;
}

.receita-left .receita-destaque-span {
  padding: 10px 20px;
  background: linear-gradient(135deg, #e74c3c, #c0392b);
  color: white;
  border-radius: 10px;
  font-weight: 600;
  font-size: 17px;
}

.sobre-nos-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
  height: 100vh;
}
.sobre-nos-left h2 {
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
  color: #333;
}

.sobre-nos-left p {
  max-width: 600px;
  color: #666;
  margin-bottom: 1.5rem;
  line-height: 30px;
}

.avaliacoes {
  display: flex;
  align-items: center;
}

.avaliacao {
  background: linear-gradient(135deg, #e74c3c, #c0392b);
  margin-right: 20px;
  padding: 10px 25px;
  text-align: center;
  border-radius: 20px;
}
.avaliacoes span {
  display: block;
  font-size: 1.1rem;
  color: #ffffff;
  font-weight: bold;
  text-align: center;
}

.sobre-nos-right img {
  border-radius: 40px;
}

.box-info {
  padding: 10px 20px;
  border: 1px solid #e74c3c;
  background-color: #f9e9e7;
}

.box-info i {
  color: #e74c3c;
}

.box-info span {
  color: #3e3c41;
  margin-left: 10px;
}

.receita-destaque-info-box {
  display: flex;
  gap: 10px;
}

.receita-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90vh;
}

.footer-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 30vh;
  color: rgb(255 255 255);
  background: linear-gradient(135deg, #0e0d0d, #1a1818);
  margin-top: 100px;
}

.footer-right {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-left h2 {
  color: white;
  font-weight: 700;
}

.footer-left p {
  max-width: 300px;
  color: white;
  line-height: 30px;
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
}

.footer-right {
  display: flex;
  gap: 150px;
}

.footer-right ul li {
  list-style: none;
  font-weight: 600;
  font-size: 17px;
}

.footer-right ul li a {
  text-decoration: none;
  color: white;
}

.footer-social-media {
  display: flex;
  gap: 30px;
}

.categorias{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.categoria button{
    padding: 10px 20px;
    border: none;
    background: linear-gradient(135deg, #e74c3c, #c0392b);
    margin-right: 20px;
    text-align: center;
    border-radius: 20px;
    color: white;
    font-weight: 600;
    font-size: 17px;
    cursor: pointer;
    margin-top: 20px;
}

.input-receita{
  background-color: #f3f3f3;
    padding: 15px 20px;
    margin-top: 70px;
    width: 900px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
}

.input-receita input{
  text-align: center;
  border: 2px solid black;
    width: 700px;
    padding: 15px;
}

.input-receita input::placeholder{
    font-size: 17px;
}

.btn-receita-search{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.input-receita button{
    border: none;
    background: black;
    padding: 15px 20px;
    color: white;
    font-weight: 600;
    font-size: 17px;
    cursor: pointer;
}

.receita-content{
    height: 150vh;
    overflow: scroll;
    display: grid;
    grid-template-columns: repeat(4, 300px);
    gap: 20px;
    padding: 20px;
}

.box-receita{
    border-radius: 20px;
    background-color: #f3f3f3;
    display: flex
;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    text-align: center;
    margin-top: 30px;
    max-width: 400px;
    height: 400px;
}

.box-receita-img img{
    width: 270px;
    height: 140px;
    border-radius: 20px;
    object-fit: cover;
}

.box-receita-btn button{
    padding: 10px 20px;
    border: none;
    background: linear-gradient(135deg, #e74c3c, #c0392b);
    color: white;
    border-radius: 20px;
    font-weight: 600;
    font-size: 17px;
    cursor: pointer;
}

.box-receita-info{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.box-receita-info span{
    display: flex
;
    align-items: center;
    gap: 10px;
    font-size: 17px;
    font-weight: 600;
    color: #e74c3c;
    margin-top: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    padding: 10px;
    border-radius: 20px;
    background-color: #f3f3f3;
}